<nav id="menu">
    <ul class="links">
        <li><a href="{{ site.baseurl }}{% link index.md %}">Profile Home Page</a></li>
        <li><a href="{{ site.baseurl }}{% link index.md %}#myskills">Profile Home -> Skills</a></li>
        <li><a href="{{ site.baseurl }}{% link index.md %}#contactme">Profile Home -> Contact Me</a></li>
    </ul>
    <!--<ul class="actions vertical">-->
    <!--<li><a href="#" class="button special fit">Get Started</a></li>-->
    <!--<li><a href="#" class="button fit">Log In</a></li>-->
    <!--</ul>-->
</nav>
