<div class="skills-section">
    <div class="inner">
        <header class="minor">
            <h2 id="myskills">My backend web developer skill set:</h2>
            <p class="normal">
                Over the years I have worked on several projects and used lots of different technologies. Below you will find
                a nearly complete list of the skills I have acquired while doing so. Each skill is listed and includes the
                accumulated length in years I have used the technology, and my level of proficiency.<br><br>
                <span class="smaller-text">
                    <b>Skill Scale: </b> 1 through 10 with
                    1 meaning "Some exposure to the technology",  5 meaning "Proficient and comfortable using the technology",
                    and 10 meaning "Someone pioneering the technology"
                </span>
            </p>
        </header>

        <div>
            {% for skillCategories in site.data.skills %}
            <header class="minor">
                {% assign categoryName = skillCategories[0] %}
                <h4>{{ categoryName }}</h4>
            </header>
            <div>
                <ul class="skill-set row">
                    {% assign categorySkills = skillCategories[1] %}
                    {% for skill in categorySkills %}
                    <li class="3u 4u(medium) 6u(small) 12u(xsmall)">
                        <h4 style="margin: 0 0 0 0;">{{ skill.name }}</h4>
                        <span class="smaller-text">
                            Practiced For: {{ skill.experienceLength }}<br>
                            Skill Level: {{ skill.skillLevel }}/10
                        </span>

                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
